// use media queries to responsively design card layout for different devices.

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin: auto;
  width: 600px;
  height: 700px;
  background-color: pink;
}
