// use media queries to responsively design card layout for different devices.

.recipe-card {
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin: auto;
  width: 600px;
  background-color: white;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  // box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}
